<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"></header>

	<main role="main">

	<section class="text-center">
		<div class="container py-5">
			<h1 th:text="${titulo}"></h1>
		</div>
	</section>

	<div class="album py-5 bg-light">
		<div class="container">			
			<a th:if="${session.filtro.lugar.id > 0}" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}" class="btn btn-outline-secondary">Crear BookMark</a>
			<p class="py-2"></p>
			<div class="row">
				<div th:each="favorito: ${favoritos}" class="col-md-4">
					<div class="card mb-4 box-shadow">
					<div class="embed-responsive embed-responsive-16by9">
						<img class="card-img-top embed-responsive-item" th:src="@{'/fotos/' + ${favorito.id}}"
							th:alt="${favorito.nombre}" />
					</div>
						<div class="card-body">
							<b th:text="${favorito.nombre+': '}"></b>
							<p class="card-text" th:text="${favorito.descripcion}"></p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a th:href="@{/ver/} + ${favorito.id}"
										class="btn btn-sm btn-outline-secondary">Ver</a> <a
										th:if="${session.filtro.lugar.id > 0}"
										sec:authorize="hasRole('ROLE_ADMIN')"
										th:href="@{/form/} + ${favorito.id}"
										class="btn btn-sm btn-outline-secondary">Editar</a> <a
										th:if="${session.filtro.lugar.id > 0}"
										sec:authorize="hasRole('ROLE_ADMIN')"
										th:href="@{/eliminar/} + ${favorito.id}"
										class="btn btn-sm btn-outline-secondary"
										onclick="return confirm('Estás seguro que quieres eliminar?');">Eliminar</a>
								</div>
								<small class="text-muted" th:text="${favorito.distancia}"></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>